node_modules
dist
.DS_Store
*.local
public/assets/videos/*.mov
public/assets/videos/*-scrub-720.mp4
public/assets/videos/*-scrub-1080.mp4
public/assets/videos/*-mobile.mp4
public/assets/videos/*-mobile-v2.mp4
test-results
.vercel
.vercel
